<ul class="icons">
<li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
<li><a href="https://stackoverflow.com/u/{{site.stackoverflow}}" class="icon fa-stack-overflow" rel="nofollow"><span class="label">Stack Overflow</span></a></li>
<li><a href="https://scholar.google.dk/citations?user=zQNl61YAAAAJ&hl=en" class="icon fa-google" rel="nofollow"><span class="label">Google</span></a></li>
<li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin-square" rel="nofollow"><span class="label">LinkedIn</span></a></li>
</ul>