.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

table {
	margin: 0 0 1rem 0;
	width: 100%;
}

table tbody tr {
	border: solid 0px;
}

table td {
	padding: 0.25rem 0.75rem;
}

table th {
  border: none;
  border-top: solid 2px;
  border-bottom: solid 2px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	line-height: 1.5;
	padding: 0 0.75rem 0.75rem 0.75rem;
	text-align: left;
	text-transform: uppercase;
}

@media screen and (max-width: 980px) {
	table th {
		font-size: 0.9rem;
	}
}

table thead {
	border-bottom: solid 2px;
}

table tfoot {
	border-top: solid 2px;
}

table.alt {
	border-collapse: separate;
}

table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}

table.alt tbody tr td:first-child {
	border-left-width: 1px;
}

table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

table.alt thead {
	border-bottom: 0;
}

table.alt tfoot {
	border-top: 0;
}

table tbody tr {
	border-color: #eeeeee;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(220, 220, 220, 0.15);
}



table thead {
	border-bottom-color: #eeeeee;
}

table tfoot {
	border-top-color: #eeeeee;
}

table.alt tbody tr td {
	border-color: #eeeee;
}
