.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}

body {
  text-align: justify;
}

tbody table tr td {
  padding: 0.2rem 0.7rem;
  border: none;
}


table tr th {
  padding: 0.75rem;
  border: none;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 0.5rem;
	font-weight: 900;
	letter-spacing: 0.07em;
	line-height: 1.5;
	text-transform: uppercase;
}

@media screen and (max-width: 980px) {
	table th {
		font-size: 0.3rem;
	}
}

table th, table td {
    padding: 0.4rem;
    border: none;
}

table {
  border-top: solid 3px;
  border-bottom: solid 3px;
}

table thead {
	border-bottom: solid 2px;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(120, 120, 120, 0.35);
}
